
*{
    box-sizing: border-box;
    margin: 0;
}
.logo{
    width: 9rem;
}
.logo_card{
    width: 200px;
}
header{
    background-color: #390050;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.container{
    margin-top: 10px;
    margin: 15px 5vw 0 5vw;
}
.homeImg {
    width: 100%;
    height: 50vh;
    /* background-image: url(); */
    background-size: contain;
}
.iconImg{
    width: 50px;
}
.message{
    /* margin: 1rem; */
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: content-box;
}
.pink{
    background-color: #dcd1e0;
}
.grey{
    background-color: #ededed;

}
.upload-img-button{
    background-color: "blue";

}
#upload-img-button{
    background-color: "red";
}
