*{
    box-sizing: border-box;
    margin: 0;
}
.logo{
    width: 9rem;
}
.logo_card{
    width: 200px;
}
header{
    background-color: #390050;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 10px;
    margin: 15px 5vw 0 5vw;
}